// '#0099FF', 'red', 'orange'
#keyboard {
  #keyboard-nav {
    background-color: #242424;
  }

  #keyboard-container {
    position: relative;
    overflow: hidden;
  }

  #keyboard-layer {
    position: relative;
    left: 0;
  }

  #reject {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #cursor {
    $cursorColor: orange;

    height: 100%;
    position: absolute;
    background-color: $cursorColor;
    border-radius: 3px;

    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      height: 70%;
      top: 15%;
      width: 2px;
      background-color: darken($cursorColor, 6%);
    }

    &::before { left: 5px; }
    &::after { right: 5px; }
  }

  .key {
    box-model: border-box;
    position: absolute;

    &.w {
      outline: 1px solid black;
      background-color: white;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &.b {
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      background-color: black;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &.selected {
      background-color: darken(red, 10%);
    }

    &.disabled {
      background-color: grey;
    }
  }
}

#experience {
  transition: background-color 100ms;
  background-color: black;

  &.active {
    background-color: white;
  }

  // wait, thx
  .message {
    width: 100%;
    position: relative;
    top: 30%;
    text-align: center;
  }

  #note {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 2px;
    padding: 0 4px;
  }

  #intensity {
    position: relative;
    height: 100%;
    width: 100px;

    .forte, .piano {
      font-family:  Times;
      font-style: italic;
      width: 100%;
      text-align: center;
      position: absolute;
    }

    .forte { top: 20px; }
    .piano { bottom: 20px; }

    svg {
      width: 50%;
      height: 70%;
      position: absolute;
      top: 15%;
      left: 25%;
    }

    line {
      stroke: white;
    }
  }

}





